ul li{
  list-style: none;
}
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black ;
}
.main{
  width: 30%;
    background: red;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
  h1{
    background-color: cadetblue;
  }
  .nav ul{
    display: flex;
    align-content: space-around;
    background-color: lightblue;
    padding: 20px 30px;
    height: 50px;
  }
  .nav ul li a{
    font-size: 20px;
    margin: 0 22px;
  }
  h4{
    margin:2rem;
    width:max-content;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
