

.calculator {
    max-width: 200px;
    border: 1PX solid black;
    border-radius: 4px;
    padding: 15px 10px ;
}

input[type="text"] {
    width: 85%;
    margin: 10px;
    font-size: 25px;
}
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-container button{
width: 45px;
height: 40px;
margin: 3px;
padding: 5px;
background: gainsboro;
}