*{
    ul li{
        list-style: none;
    }
}
.counter-container {
    background: aliceblue;
    text-align: center;
    display: flex;
}

.counter-container div {
    border: 1px solid black;
    padding: 10px;
    margin: 0 3px;
    border-radius: 5px;
}

.showDel {
    width: 100;
    background: gainsboro;
    margin: 0 auto;
    text-align: center;
}

.DisplayList {
    background: palegoldenrod;
    text-align: center;
}
.nav{
    background: lavender;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.nav a {
    font-size: 22px;
    margin: 0 5px;
    text-decoration: none;
}

body {
    margin: 0;
}
.wrapper{
    margin-top: 10px;
}
h4{
    text-transform: capitalize;
    color: red;
}
.fooditem li{
 border: 1px solid black;
 padding: 8px;
}
.fooditem{
    padding: 0;
}
.showItem{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.foodItems{
    width: 90%;
    height: 25px;
    margin: 0 auto;
    display: block;
}