.container{
    border: 1px solid #000;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
}
.container h3{
    margin: 0;
    color: rebeccapurple;
    padding: 5px;
    text-align: center;
}
